<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Gestione prodotti</h1>
  </div>
</div>
<!-- <app-magazzino></app-magazzino> -->


<nav class="navbar navbar-light bg-light">
  
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/magazzino']" routerLinkActive="active">Magazzino</a>
      <a class="nav-item nav-link"  [routerLink]="['/fornitori']" routerLinkActive="active">Fornitori</a>
    </div>
  </div>
</nav>
<br /><br />
<router-outlet></router-outlet>