<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Gestione prodotti</h1>
  </div>
</div>
<!-- <app-magazzino></app-magazzino> -->


<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" [routerLink]="['/magazzino']" routerLinkActive="active">Magazzino</a>
    <a class="nav-link" [routerLink]="['/fornitori']" routerLinkActive="active">Fornitori</a>
  </nav>
</div>
<br /><br />
<router-outlet></router-outlet>