<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-primary btn-block" (click)="addNuovoFornitore()" >Aggiungi</button>
			<br>
			<div class="list-group">
        <button type="button" class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center" *ngFor="let fornitore of fornitori.getItems(); let i = index" (click)="setCorrente(i)" [ngClass]="{'active':corrente==i}"><div *ngIf="fornitore.nome != ''; else nuovoFornitore">{{fornitore.nome}}</div>
          <ng-template #nuovoFornitore>Nuovo</ng-template>
        </button>
			</div>
			<hr />
		</div>
		<div class="col-sm-8">
			<app-fornitore [fornitore]="fornitori.getItem(corrente)" *ngIf="fornitori.getLastIndex()>=0"></app-fornitore>
		</div>
	</div>
</div>