<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>{{fornitore.nome}}</h4>
    </div>
  </div>
	<div class="form-group">
		<label for="nomeInput">Nome azienda</label>
		<input type="text" class="form-control" id="nomeInput" placeholder="Inseririe il nome" [value]="fornitore.nome" #nomeInput (keydown)="fornitoreCambiato = true" [ngClass]="{'error': nomeError}">
  </div>
  <div class="form-group">
		<label for="sedeInput">Sede azienda</label>
		<input type="text" class="form-control" id="sedeInput" placeholder="Inseririe l'indirizzo della sede" [value]="fornitore.sede" #sedeInput (keydown)="fornitoreCambiato = true" [ngClass]="{'error': sedeError}"> 
  </div>

  <div class="form-group">
    <label for="sitowebInput">Sito web</label>
    <div class="input-group mb-3">

       <input type="url" class="form-control" id="sitowebInput" placeholder="Inseririe il sitoweb" [value]="fornitore.sitoWeb" #sitowebInput (keydown)="fornitoreCambiato = true" [ngClass]="{'error': sitoError}">
      <div class="input-group-append">
        <span class="input-group-text" *ngIf="fornitore.sitoWeb != ''">
          <a [href]="fornitore.sitoWeb" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg></a>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="sitowebInput">Email</label>
    <div class="input-group mb-3">

      <input type="email" class="form-control" id="emailInput" placeholder="Inseririe l'email" [value]="fornitore.mail" #emailInput (keydown)="fornitoreCambiato = true" [ngClass]="{'error': emailError}">
      <div class="input-group-append">
        <span class="input-group-text">
          <a [href]="mailto:fornitore.mail" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
		<label for="telefonoInput">Telefono</label>
		<input type="tel" class="form-control" id="telefonoInput" placeholder="Inseririe il numero di telefono" [value]="fornitore.telefono" #telefonoInput (keydown)="fornitoreCambiato = true" [ngClass]="{'error': telefonoError}">
  </div>
  <div class="form-group">
		<label for="ivaInput">Partita IVA</label>
		<input type="text" class="form-control" id="ivaInput" placeholder="Inseririe la partita IVA" [value]="fornitore.partitaIVA" #ivaInput (keydown)="fornitoreCambiato = true" [ngClass]="{'error': ivaError}">
  </div>
  <div class="row" *ngIf="fornitoreCambiato">
    <div class="col-6 text-left">
      <button class="btn btn-danger" (click)="reset()">Annulla</button>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-primary" (click)="save()">Salva</button>
    </div>
  </div>
</div>